altgraph==0.17.2
asgiref==3.6.0
dj-database-url==1.2.0
Django==4.1.5
django-heroku==0.3.1
future==0.18.2
gunicorn==20.1.0
macholib==1.15.2
psycopg2==2.9.5
six==1.15.0
sqlparse==0.4.3
whitenoise==6.3.0
